---
import Main from '../layouts/Main.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

const posts = [...allPosts].sort(
  (a, b) => b.data.uploaded_at.getTime() - a.data.uploaded_at.getTime(),
);
---

<Main
  title="LockBit 5.0 Blogue"
  description="LockBit 5.0 Blogue"
  ogTitle="LockBit 5.0 Blogue"
  ogImage="/og.svg"
  ogType="website"
>
  <main class="page-wrapper">
    <div class="page-container">
      <div class="post-grid">
        {posts.map((post) => (
          <PostCard
            title={post.data.title}
            slug={post.slug}
            isProtected={post.data.isProtected ?? false}
            description={post.data.description ?? ''}
            uploadedAt={post.data.uploaded_at}
          />
        ))}
      </div>
    </div>
  </main>
</Main>

<style>
  .page-wrapper {
    padding: 50px var(--page-gutter) 20px;
  }

  .page-container {
    max-width: 1450px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) and (max-width: 1730px) {
    .page-container {
      max-width: 100%;
    }
  }

  .post-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
  }

  @media (max-width: 1100px) {
    .post-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }
  }

  @media (max-width: 768px) {
    .post-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

  @media (max-width: 460px) {
    .post-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
