---
import ToggleTheme from "./misc/ToggleTheme.astro"
import ImageWrapper from "./misc/ImageWrapper.astro"

---
<div class="header">
    <div class="container">
        <div>
            <!-- <ImageWrapper src="/logo.svg" alt="Logo"  /> -->
            <a href="/">
                <ImageWrapper src="/lock-logo.svg" alt="Logo" class="logo" />
            </a>
        </div>
        <div class="container-header"></div>
        <ToggleTheme />
    </div>
</div>

<style is:global>
    .header {
        box-shadow: 0px 7px 70px rgba(0, 0, 0, 0.04);
        /* height: 180px; */
        padding-right: 10px;
        padding-left: 10px;
    }
    .logo {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 175px;
        border-right: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb;
        margin-right: 40px;
        z-index: 1;
    }
    img.logo {
        width: 110px;
        max-width: 100%;
        max-height: 100%;
    }
    .container-header {
        padding-left: 35px;
    }
    @media (min-width: 1180px) {
        .container {
            max-width: 1450px;
        }
    }
    @media (min-width: 1200px) and (max-width: 1730px) {
        .container {
            max-width: 100%;
        }
    }
</style>

