---
interface Props {
    class: string;
    entry: any;
    title: string;
    encrypt_title: string;
    url: string;
    uploaded_at: Date;
    updated_at: Date;
    author: string;
    draft: boolean;
    is_protected: boolean;
    image: string;
}

const { entry, title, encrypt_title, url, uploaded_at, updated_at, author, draft, is_protected, image } = Astro.props;
---
<div class="post-info">
    <slot />
</div>
<style  is:global>
    .post-info {
        padding: 20px;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        margin-bottom: 25px;
    }
</style>

